
/* Am besten global für alle Elemente setzen */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background:#000;
  color: #fff;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: medium;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 1.5rem;
  font-weight: 200;
  margin: 0 0 1rem;
}

.skill_table {
  width: 100%;
  border-collapse: collapse;
  margin: 0 auto;
  
}

.skill_table th,
.skill_table td {
  padding: 0.75rem 1rem;
  text-align: center;
}

.skill_table th {
  font-weight: 500;
 
}

/* HEADER */
.header {
  position: sticky;
  top: 0;
  background: hsl(240, 9%, 15%);
  backdrop-filter: blur(10px);
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_logo {
  display: flex;
  position: relative;
  align-items: center;
  text-align: center;
  gap: 10px;
}

.header_logo-image {
  display: inline;
  position: absolute;
  width: 80px;
  height: 80px;
  object-fit: contain;
}

.header_list {
  display: flex;
  gap: 20px;
  list-style: none;
}

.header_list a {
  text-decoration: none;
  font-weight: 600;
  color: white;
}

.project_table a {
  color: #ffffff;
  text-decoration: none;
}

.project_table a:hover,
.project_table a:focus {
  color: #8fe8ff;
}

/* FOOTER */
.footer_sec {
  display: flex;
  background: hsl(240, 9%, 15%);
  padding: 20px 0px;
  align-items: center;
  justify-content : center;
}

.footer__text {
  margin: 0;
  color: white;
  text-align: center;
  font-weight: 600;
}
